---
import Layout from "../layouts/Layout.astro";
import Team from "../components/Team.astro";
import Title from "../components/Title.astro";
import NavBottom from "../components/NavBottom.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout bgColor="bg-gradient-to-t from-purple-300 from-60% to-cyan-200">
  <div class="mx-auto h-32 flex items-center justify-center">
    <Title title="Nuestro Equipo" tag="h1" class="text-center" />
  </div>

  <!-- Diseño normal -->
  <Team
    title="Psicóloga"
    description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat."
  />

  <!-- Diseño invertido -->
  <Team
    reverse={true}
    title="Terapeuta"
    description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat."
  />

  <!-- Diseño normal -->
  <Team
    title="Trabajadora Social"
    description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat."
  />

  <!-- Diseño invertido -->
  <Team
    reverse={true}
    title="Enfermera"
    description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat."
  />

  <!-- Diseño normal -->
  <Team
    title="Neuropsicólogo"
    description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat."
  />

  <NavBottom />
</Layout>
