---
import Layout from "../layouts/Layout.astro";
import NavBottom from "../components/NavBottom.astro";
import Title from "../components/Title.astro";
import { Mail } from "lucide-astro";
---

<Layout bgColor=".">
  <div class="mx-auto h-32 flex items-center justify-center">
    <!-- h1 → h2 -->
    <Title title="Formulario" tag="h2" class="text-center" />
  </div>

  <div class="flex items-center justify-center">
    <div class="w-50 h-50 bg-gray-400 rounded-full"></div>
  </div>
  <div
    class="container mx-auto my-4 px-4 flex flex-col justify-center items-center"
  >
    <!-- h3 → h4 -->
    <Title title="Déjanos tus datos" tag="h4" class="text-center font-bold" />

    <form class="w-11/12 mx-auto">
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
        >
          <Mail class="w-4 h-4 text-gray-500 dark:text-gray-400" />
        </div>
        <input
          type="text"
          id="email-address-icon"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-3xl focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com"
        />
      </div>
      <div class="relative my-7">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
        >
          <Mail class="w-4 h-4 text-gray-500 dark:text-gray-400" />
        </div>
      </div>
    </form>
  </div>
  <NavBottom />
</Layout>
