---
import Layout from "../layouts/Layout.astro";
import NavBottom from "../components/NavBottom.astro";
import Title from "../components/Title.astro";
---

<Layout bgColor=".">
  <div class="mx-auto h-32 flex items-center justify-center">
    <Title title="Formulario" tag="h1" class="text-center" />
  </div>

  <div class="flex items-center justify-center">
    <div class="size-16 bg-neutral-800 rounded-full">a x</div>
  </div>

  <NavBottom />
</Layout>
