---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import NavBottom from "../components/NavBottom.astro";
import Image from "../components/Image.astro";
---

<Layout bgColor="">
  <div class="mx-auto h-32 flex items-center justify-center">
    <Title title="Agenda" tag="h1" class="text-center" />
  </div>

  <Image
    src="/src/assets/schedule/schedule.svg"
    alt="Schedule"
    width={400}
    height={300}
    class="schedule-image"
  />

  <!-- Calendario de Google -->
  <div class="calendar-container mx-auto my-8 px-4">
    <iframe
      src="https://calendar.google.com/calendar/embed?src=psychord47%40gmail.com&ctz=America%2FMonterrey"
      style="border: 0"
      frameborder="0"
      scrolling="no"
      class="w11/12 max-w-3xl h-80 mx-auto rounded-lg shadow-lg"
    >
    </iframe>
  </div>

  <NavBottom />
</Layout>
