---
import Title from "../Title.astro";
---

<section class="container mx-auto my-20">
  <div class="w-11/12 mx-auto">
    <Title title="Descripción" tag="h2" class="text-center" />
    <p class="mt-4 text-center text-lg md:text-xl lg:text-2xl">
      Aquí encontrarás un espacio seguro para jóvenes que enfrentan adicciones y
      problemas emocionales. Nuestro objetivo es escucharte, ayudarte a
      comprender el origen de tus dificultades y acompañarte en el proceso de
      desbloquear tus emociones para que puedas transformar tu vida. Cada
      persona es única, por eso adaptamos nuestras terapias a ti y a tu
      situación. Te ofrecemos apoyo profesional, herramientas prácticas y un
      entorno de confianza para que recuperes tu equilibrio y construyas un
      futuro más pleno.
    </p>
  </div>
</section>
