---
import Title from "../Title.astro";
---

<section class="container mx-auto my-20">
  <div class="w-11/12 mx-auto">
    <Title title="Objetivos" tag="h2" class="text-center" />
    <p class="mt-4 text-center text-lg md:text-xl lg:text-2xl">
      Brindar acompañamiento psicológico especializado a jóvenes que enfrentan
      adicciones y dificultades emocionales, ofreciendo un espacio seguro de
      escucha, comprensión y apoyo. Nuestra misión es ayudarles a reconocer sus
      emociones, trabajar en el origen de sus problemas y proporcionar
      herramientas prácticas que les permitan recuperar su bienestar y construir
      una vida más plena.
    </p>
    <ul>
      <li>
        Ofrecer terapias personalizadas que se adapten a las necesidades y
        circunstancias de cada joven.
      </li>
      <li>
        Promover la salud mental mediante programas de prevención, educación y
        acompañamiento emocional.
      </li>
      <li>
        Fomentar la resiliencia y autoestima, ayudando a los jóvenes a
        desarrollar habilidades para enfrentar sus retos.
      </li>
      <li>
        Crear un entorno seguro y de confianza donde los jóvenes se sientan
        escuchados y comprendidos.
      </li>
      <li>
        Crear un entorno seguro y empático, donde puedan expresarse libremente y
        sentirse comprendidos.
      </li>
      <li>
        Impulsar la reintegración social, apoyando a los jóvenes en la
        construcción de relaciones sanas y proyectos de vida.
      </li>
      <li>
        Innovar en métodos terapéuticos, integrando enfoques modernos y
        herramientas digitales para ampliar el alcance del apoyo.
      </li>
    </ul>
  </div>
</section>
