---
import Title from "../Title.astro";
---

<section class="container mx-auto my-20 flex items-center flex-col">
  <div class="w-11/12 mx-auto">
    <Title title="Objetivos" tag="h2" class="text-center" />
    <p class="mt-4 text-center text-lg md:text-xl lg:text-2xl">
      Brindar acompañamiento psicológico especializado a jóvenes que enfrentan
      adicciones y dificultades emocionales, ofreciendo un espacio seguro de
      escucha, comprensión y apoyo. Nuestra misión es ayudarles a reconocer sus
      emociones, trabajar en el origen de sus problemas y proporcionar
      herramientas prácticas que les permitan recuperar su bienestar y construir
      una vida más plena.
    </p>
  </div>

  <div
    class="w-11/12 bg-neutral-primary-soft border border-default rounded-2xl shadow-xs mt-10"
  >
    <ul role="list" class="space-y-3 p-6 divide-y divide-default">
      <li class="flex items-center justify-between pb-3">
        <div class="flex items-center text-body">
          <span
            >Ofrecer terapias personalizadas que se adapten a las necesidades y
            circunstancias de cada joven.</span
          >
        </div>
      </li>
      <li class="flex items-center justify-between pb-3">
        <div class="flex items-center text-body">
          <span>
            Promover la salud mental mediante programas de prevención, educación
            y acompañamiento emocional.</span
          >
        </div>
      </li>
      <li class="flex items-center justify-between pb-3">
        <div class="flex items-center text-body">
          <span
            >Fomentar la resiliencia y autoestima, ayudando a los jóvenes a
            desarrollar habilidades para enfrentar sus retos.</span
          >
        </div>
      </li>
      <li class="flex items-center justify-between pb-3">
        <div class="flex items-center text-body">
          <span
            >Crear un entorno seguro y de confianza donde los jóvenes se sientan
            escuchados y comprendidos.</span
          >
        </div>
      </li>
      <li class="flex items-center justify-between pb-3">
        <div class="flex items-center text-body">
          <span>
            Crear un entorno seguro y empático, donde puedan expresarse
            libremente y sentirse comprendidos.</span
          >
        </div>
      </li>
      <li class="flex items-center justify-between pb-3">
        <div class="flex items-center text-body">
          <span>
            Impulsar la reintegración social, apoyando a los jóvenes en la
            construcción de relaciones sanas y proyectos de vida.</span
          >
        </div>
      </li>
      <li class="flex items-center justify-between pb-3">
        <div class="flex items-center text-body">
          <span>
            Innovar en métodos terapéuticos, integrando enfoques modernos y
            herramientas digitales para ampliar el alcance del apoyo.</span
          >
        </div>
      </li>
    </ul>
  </div>
</section>
