---
import Title from "../Title.astro";
---

<section class="container mx-auto my-20">
  <div class="w-11/12 mx-auto">
    <Title title="Misión" tag="h2" class="text-center" />
    <p class="mt-4 text-center text-lg md:text-xl lg:text-2xl">
      Brindar acompañamiento psicológico especializado a jóvenes que enfrentan
      adicciones y dificultades emocionales, ofreciendo un espacio seguro de
      escucha, comprensión y apoyo. Nuestra misión es ayudarles a reconocer sus
      emociones, trabajar en el origen de sus problemas y proporcionar
      herramientas prácticas que les permitan recuperar su bienestar y construir
      una vida más plena.
    </p>
  </div>
</section>
