---
import Title from "../Title.astro";
---

<section class="container mx-auto my-20">
  <div class="w-11/12 mx-auto">
    <Title title="Visión" tag="h2" class="text-center" />
    <p class="mt-4 text-center text-lg md:text-xl lg:text-2xl">
      Ser un referente en el tratamiento psicológico de jóvenes con adicciones y
      problemas emocionales, destacándonos por nuestra cercanía, innovación y
      compromiso humano. Aspiramos a crear una comunidad donde cada persona
      encuentre la fuerza para transformar sus desafíos en oportunidades de
      crecimiento, logrando un impacto positivo en su vida y en la sociedad.
    </p>
  </div>
</section>
