---
import Button from "./Button.astro";
---

<div
  class="container flex justify-center items-center mx-auto bg-amber-200 h-32"
>
  <div
    class="box flex items-center justify-center gap-5 bg-amber-500 px-6 py-4 rounded-lg"
  >
    <Button href="#mision" text="Misión" />
    <Button href="#vision" text="Visión" />
    <Button href="#objetivos" text="Objetivos" />
  </div>
</div>

<div class="mb-4 border-b border-default">
  <ul
    class="flex flex-wrap -mb-px text-sm font-medium text-center"
    id="default-tab"
    data-tabs-toggle="#default-tab-content"
    role="tablist"
  >
    <li class="me-2" role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-base"
        id="profile-tab"
        data-tabs-target="#profile"
        type="button"
        role="tab"
        aria-controls="profile"
        aria-selected="false">Profile</button
      >
    </li>
    <li class="me-2" role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-base hover:text-fg-brand hover:border-brand"
        id="dashboard-tab"
        data-tabs-target="#dashboard"
        type="button"
        role="tab"
        aria-controls="dashboard"
        aria-selected="false">Dashboard</button
      >
    </li>
    <li class="me-2" role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-base hover:text-fg-brand hover:border-brand"
        id="settings-tab"
        data-tabs-target="#settings"
        type="button"
        role="tab"
        aria-controls="settings"
        aria-selected="false">Settings</button
      >
    </li>
    <li role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-base hover:text-fg-brand hover:border-brand"
        id="contacts-tab"
        data-tabs-target="#contacts"
        type="button"
        role="tab"
        aria-controls="contacts"
        aria-selected="false">Contacts</button
      >
    </li>
  </ul>
</div>
<div id="default-tab-content">
  <div
    class="hidden p-4 rounded-base bg-neutral-secondary-soft"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <p class="text-sm text-body">
      This is some placeholder content the <strong
        class="font-medium text-heading"
        >Profile tab's associated content</strong
      >. Clicking another tab will toggle the visibility of this one for the
      next. The tab JavaScript swaps classes to control the content visibility
      and styling.
    </p>
  </div>
  <div
    class="hidden p-4 rounded-base bg-neutral-secondary-soft"
    id="dashboard"
    role="tabpanel"
    aria-labelledby="dashboard-tab"
  >
    <p class="text-sm text-body">
      This is some placeholder content the <strong
        class="font-medium text-heading"
        >Dashboard tab's associated content</strong
      >. Clicking another tab will toggle the visibility of this one for the
      next. The tab JavaScript swaps classes to control the content visibility
      and styling.
    </p>
  </div>
  <div
    class="hidden p-4 rounded-base bg-neutral-secondary-soft"
    id="settings"
    role="tabpanel"
    aria-labelledby="settings-tab"
  >
    <p class="text-sm text-body">
      This is some placeholder content the <strong
        class="font-medium text-heading"
        >Settings tab's associated content</strong
      >. Clicking another tab will toggle the visibility of this one for the
      next. The tab JavaScript swaps classes to control the content visibility
      and styling.
    </p>
  </div>
  <div
    class="hidden p-4 rounded-base bg-neutral-secondary-soft"
    id="contacts"
    role="tabpanel"
    aria-labelledby="contacts-tab"
  >
    <p class="text-sm text-body">
      This is some placeholder content the <strong
        class="font-medium text-heading"
        >Contacts tab's associated content</strong
      >. Clicking another tab will toggle the visibility of this one for the
      next. The tab JavaScript swaps classes to control the content visibility
      and styling.
    </p>
  </div>
</div>
