<div class="container flex justify-center w-11/12 mx-auto">
  <div class="box flex w-full">
    <button
      type="button"
      class="mx-1 rounded-lg w-8/12 text-base font-medium text-black bg-white hover:bg-gray-100 py-2"
    >
      Misión
    </button>
    <button
      type="button"
      class="mx-1 rounded-lg w-8/12 text-base font-medium text-black bg-white hover:bg-gray-100 py-2"
    >
      Visión
    </button>
    <button
      type="button"
      class="mx-1 rounded-lg w-8/12 text-base font-medium text-black bg-white hover:bg-gray-100 py-2"
    >
      Objetivos
    </button>
  </div>
</div>
