---
// filepath: c:\Users\Raúl\Desktop\psycho\src\components\Buttons.astro
import Button from "./Button.astro";
---

<div class="container flex justify-center items-center mx-auto min-h-[100px]">
  <div class="box flex items-center justify-center gap-5 px-6 py-4 rounded-lg">
    <Button href="#mision" text="Misión" />
    <Button href="#vision" text="Visión" />
    <Button href="#objetivos" text="Objetivos" />
  </div>
</div>
