---
import Card from "./Card.astro";
import Buttons from "./Buttons.astro";
import { Image } from "astro:assets";
import insaneImage from "../assets/main/insane1.jpg";
---

<main class="">
  <Image
    src={insaneImage}
    alt="Imagen principal"
    class="w-full object-cover object-top lg:h-180"
  />
  <Card class="h-80 bg-blue-300" />
  <!-- ✅ Ahora funciona -->
  <Buttons />
  <Card class="h-80 bg-blue-300" />
  <!-- ✅ Ahora funciona -->
</main>
