---
import Card from "./Card.astro";
import Buttons from "./Buttons.astro";
---

<main class="h-dvh">
  <img
    src="public/main/insane1.jpg"
    alt=""
    class="w-full object-cover lg:object-cover h-5/12"
  />
  <Card />
  <Buttons />
  <Card />
</main>
