---
import { Image } from "astro:assets";
import icon1 from "../assets/social/instagram.svg";
import icon2 from "../assets/social/tiktok.svg";
import icon3 from "../assets/social/x.svg";
---

<nav
  id="top-nav"
  class="fixed top-0 left-1/2 transform -translate-x-1/2 w-10/12 bg-transparent z-50 hidden lg:block"
>
  <div class="flex items-center justify-between px-6 py-3">
    <!-- Logo del lado izquierdo -->
    <div class="flex items-center">
      <a
        href="/"
        class="flex items-center space-x-2 hover:opacity-80 transition-opacity"
      >
        <img src="/logo.svg" alt="Logo Psycho" class="h-8 w-8" />
        <span class="text-xl font-bold text-white">Psycho</span>
      </a>
    </div>

    <!-- Navegación del lado derecho con estilos compartidos -->
    <ul
      class="flex items-center space-x-8 text-white [&>li>a]:hover:text-blue-500 [&>li>a]:active:text-blue-600 [&>li>a]:transition-colors [&>li>a]:duration-200"
    >
      <li>
        <a href="/home">
          <span class="text-sm font-medium">Inicio</span>
        </a>
      </li>
      <li>
        <a href="/about">
          <span class="text-sm font-medium">Nosotros</span>
        </a>
      </li>
      <li>
        <a href="/schedule">
          <span class="text-sm font-medium">Agenda</span>
        </a>
      </li>
      <li>
        <a href="#culture">
          <span class="text-sm font-medium">Cultura</span>
        </a>
      </li>
      <li>
        <a href="/contact">
          <span class="text-sm font-medium">Contacto</span>
        </a>
      </li>
    </ul>

    <!-- Iconos SVG del lado derecho -->
    <div class="flex items-center space-x-4">
      <!-- Primer icono -->
      <Image
        src={icon1}
        alt="Icono 1"
        width={20}
        height={20}
        class="filter brightness-0 invert hover:brightness-100 hover:invert-0 hover:hue-rotate-180 cursor-pointer transition-all duration-200"
      />

      <!-- Segundo icono -->
      <Image
        src={icon2}
        alt="Icono 2"
        width={20}
        height={20}
        class="filter brightness-0 invert hover:brightness-100 hover:invert-0 hover:hue-rotate-180 cursor-pointer transition-all duration-200"
      />

      <!-- Tercer icono -->
      <Image
        src={icon3}
        alt="Icono 3"
        width={20}
        height={20}
        class="filter brightness-0 invert hover:brightness-100 hover:invert-0 hover:hue-rotate-180 cursor-pointer transition-all duration-200"
      />
    </div>
  </div>
</nav>
